
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-header {
    background-color: #002147;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info span {
    margin-right: 20px;
    font-size: 14px;
}

 .contact-info img {
    width: 20px; 
} 


.social-icons {
    display: flex;
    align-items: center;
}

.social-icons img {
    width: 30px; /* Adjust icon size */
    margin-left: 10px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-info {
        margin-bottom: 10px;
    }

    .social-icons {
        margin-top: 10px;
    }
}